In [3]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [4]:
%sql mysql+pymysql://root:SecureP%40sw0rd%21123@localhost:3306/united_nations

In [5]:
%%sql 

select * 
from united_nations.Access_to_Basic_Services
limit 10

 * mysql+pymysql://root:***@localhost:3306/united_nations
10 rows affected.

[('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2015, Decimal('94.67'), Decimal('98.00'), Decimal('17.542806'), Decimal('184.39'), Decimal('2699700.00')),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2016, Decimal('94.67'), Decimal('98.00'), Decimal('17.794055'), Decimal('137.28'), Decimal('2699700.00')),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2017, Decimal('95.00'), Decimal('98.00'), Decimal('18.037776'), Decimal('166.81'), Decimal('2699700.00')),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2018, Decimal('95.00'), Decimal('98.00'), Decimal('18.276452'), Decimal('179.34'), Decimal('2699700.00')),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2019, Decimal('95.00'), Decimal('98.00'), Decimal('18.513673'), Decimal('181.67'), Decimal('2699700.00')),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2020, Decimal('95.00'), Decimal('98.00'), Decimal('18.755666'), Decimal('171.08'), Decimal('2699700.00')),
 ('Central and Southern Asia', 'Central Asia', 'Kyrgyzstan', 2015, Decimal('89.67'), Decimal('96.67'), None, None, None),
 ('Central and Southern Asia', 'Central Asia', 'Kyrgyzstan', 2016, Decimal('90.33'), Decimal('96.67'), None, None, None),
 ('Central and Southern Asia', 'Central Asia', 'Kyrgyzstan', 2017, Decimal('91.00'), Decimal('97.33'), None, None, None),
 ('Central and Southern Asia', 'Central Asia', 'Kyrgyzstan', 2018, Decimal('91.33'), Decimal('97.33'), None, None, None)]

## Connect to the file chinook.db database on Pc

In [14]:
%sql sqlite:///chinook.db