In [1]:
# Load and activate the SQL extension to allow us to execute SQL in a Jupyter notebook. 
# If you get an error here, make sure that mysql and pymysql are installed correctly. 

%load_ext sql

In [4]:
# Load SQLite database
%sql sqlite:///dam_levels-a-3987.db

In [5]:
%%sql

SELECT *
FROM dam_levels

 * sqlite:///dam_levels-a-3987.db
   sqlite:///dam_levels.db
Done.

[('2012', 'WEMMERSHOEK', 'P. M. Naidoo', '201013', '48.2', '-33.826246', '19.091828'),
 ('2012', 'STEENBRAS LOWER;STEENBRAS UPPER', 'V. Mokere', '201124', '20.3;24.2', '-34.180527;-34.166702', '18.866688;18.90976'),
 ('2012', 'VOËLVLEI', 'A. T. Sijovu', '202256', '15', '-33.34178', '19.04105'),
 ('2012', 'HELY-HUTCHINSON', 'P. M. Naidoo', '201013', '14.2', '-33.976929', '18.409568'),
 ('2012', 'WOODHEAD', 'A. T. Sijovu', '202256', '35.3', '-33.977341', '18.404046'),
 ('2013', 'WEMMERSHOEK', 'P. M. Naidoo', '201013', '53.3', '-33.826246', '19.091828'),
 ('2013', 'STEENBRAS LOWER;STEENBRAS UPPER', 'V. Mokere', '201124', '22.4;24.6', '-34.180527;-34.166702', '18.866688;18.90976'),
 ('2013', 'VOËLVLEI', 'A. T. Sijovu', '202256', '16.6', '-33.34178', '19.04105'),
 ('2013', 'HELY-HUTCHINSON', 'P. M. Naidoo', '201013', '15.2', '-33.976929', '18.409568'),
 ('2013', 'WOODHEAD', 'A. T. Sijovu', '202256', '35.9', '-33.977341', '18.404046'),
 ('2015', 'WEMMERSHOEK', 'P. M. Naidoo', '201013', '47.5', '-33.826246', '19.091828'),
 ('2015', 'STEENBRAS LOWER;STEENBRAS UPPER', 'V. Mokere', '201124', '22.7;24.6', '-34.180527;-34.166702', '18.866688;18.90976'),
 ('2015', 'VOËLVLEI', 'A. T. Sijovu', '202256', '11.9', '-33.34178', '19.04105'),
 ('2015', 'HELY-HUTCHINSON', 'P. M. Naidoo', '201013', '15.3', '-33.976929', '18.409568'),
 ('2015', 'WOODHEAD', 'A. T. Sijovu', '202256', '36.1', '-33.977341', '18.404046')]

In [6]:
%%sql

DELETE
FROM
    dam_levels
WHERE
    Assessment_Officer = "V. Mokere";

 * sqlite:///dam_levels-a-3987.db
   sqlite:///dam_levels.db
3 rows affected.

[]

In [8]:
%%sql

INSERT INTO dam_levels (year,dam_name,Assessment_Officer,Officer_Reg,water_level,dam_latitude,dam_longitude)
VALUES
    ( 2012,"STEENBRAS LOWER","V. Mokere",201124,20.3,-34.180527,18.866688),
    ( 2012,"STEENBRAS UPPER","V. Mokere",201124,24.2,-34.166702,18.90976),
    ( 2013,"STEENBRAS LOWER","V. Mokere",201124,22.4,-34.180527,18.866688),
    ( 2013,"STEENBRAS UPPER","V. Mokere",201124,24.6,-34.166702,18.90976),
    ( 2015,"STEENBRAS LOWER","V. Mokere",201124,22.7,-34.180527,18.866688),
    ( 2015,"STEENBRAS UPPER","V. Mokere",201124,24.6,-34.16670,18.90976);

 * sqlite:///dam_levels-a-3987.db
   sqlite:///dam_levels.db
6 rows affected.

[]

In [9]:
%%sql

CREATE TABLE dam_levels_1nf (
    AssessmentId INTEGER PRIMARY KEY AUTOINCREMENT,
    year INTEGER,
    dam_name VARCHAR(100),
    Assessment_Officer VARCHAR(100),
    Officer_Reg INTEGER,
    water_level NUMERIC(10,1),
    dam_latitude NUMERIC(3,6),
    dam_longitude NUMERIC(3,6)
);

 * sqlite:///dam_levels-a-3987.db
   sqlite:///dam_levels.db
Done.

[]

In [10]:
%%sql

INSERT INTO
    dam_levels_1nf(
            year,
            dam_name,
            Assessment_Officer,
            Officer_Reg,
            water_level,
            dam_latitude,
            dam_longitude
        )
SELECT
    year,
    dam_name,
    Assessment_Officer,
    Officer_Reg,
    water_level,
    dam_latitude,
    dam_longitude
FROM
    dam_levels
ORDER BY year;

 * sqlite:///dam_levels-a-3987.db
   sqlite:///dam_levels.db
24 rows affected.

[]

SyntaxError: invalid syntax (1645777817.py, line 1)