In [2]:
%load_ext sql

In [3]:
%sql mysql+pymysql://root:SecureP%40sw0rd%21123@localhost:3306/united_nations

In [4]:
%%sql

SELECT
	Distinct Country_name
FROM
	united_nations.Access_to_Basic_Services
WHERE
	Country_name LIKE '%(%)%';

 * mysql+pymysql://root:***@localhost:3306/united_nations
7 rows affected.

[('Iran (Islamic Republic of)',),
 ('Saint Martin (French Part)',),
 ('Sint Maarten (Dutch part)',),
 ('Bolivia (Plurinational State of)',),
 ('Falkland Islands (Malvinas)',),
 ('Venezuela (Bolivarian Republic of)',),
 ('Micronesia (Federated States of)',)]

## 1. Extract country names without the information inside the parenthesis

In [10]:
%%sql

SELECT
	Distinct Country_name,
    LEFT(Country_name, position("(" in Country_name) - 1) as New_country_name,
    LENGTH(LEFT(Country_name, position("(" in Country_name) - 1)) as New_country_name_length
FROM
	united_nations.Access_to_Basic_Services
WHERE
	Country_name LIKE '%(%)%';

 * mysql+pymysql://root:***@localhost:3306/united_nations
7 rows affected.

[('Iran (Islamic Republic of)', 'Iran ', 5),
 ('Saint Martin (French Part)', 'Saint Martin ', 13),
 ('Sint Maarten (Dutch part)', 'Sint Maarten ', 13),
 ('Bolivia (Plurinational State of)', 'Bolivia ', 8),
 ('Falkland Islands (Malvinas)', 'Falkland Islands ', 17),
 ('Venezuela (Bolivarian Republic of)', 'Venezuela ', 10),
 ('Micronesia (Federated States of)', 'Micronesia ', 11)]

## 2. Identify any extra characters

In [12]:
%%sql

SELECT
	Distinct Country_name,
    LEFT(Country_name, position("(" in Country_name) - 1) as New_country_name,
    LENGTH(RTRIM(LEFT(Country_name, position("(" in Country_name) - 1))) as New_country_name_length
FROM
	united_nations.Access_to_Basic_Services
WHERE
	Country_name LIKE '%(%)%';

 * mysql+pymysql://root:***@localhost:3306/united_nations
7 rows affected.

[('Iran (Islamic Republic of)', 'Iran ', 4),
 ('Saint Martin (French Part)', 'Saint Martin ', 12),
 ('Sint Maarten (Dutch part)', 'Sint Maarten ', 12),
 ('Bolivia (Plurinational State of)', 'Bolivia ', 7),
 ('Falkland Islands (Malvinas)', 'Falkland Islands ', 16),
 ('Venezuela (Bolivarian Republic of)', 'Venezuela ', 9),
 ('Micronesia (Federated States of)', 'Micronesia ', 10)]